button {
    margin-left: 1em;
    border-radius: 20px;
    background-color: lightgreen;
    border-color: green;
}

.row {
    margin-left: 2em;
    margin-right: 2em;
}

.container {
    color: green;
}

hr {
    max-width: 20em;
}