<app-banner (click)='scroll(homeview)'></app-banner>
<br/>
<div #homeview class="container">
  <div class="row">
    <!-- topic -->
    <div class="container col-md-9" id="topic">
        <br/>
        <ul class="row">
            <li class="col-md-6" id="vocabularyTab">
                <a routerLink='/views/vocabulary' routerLinkActive='active'>
                    <div>
                        <img src="./../../../assets/images/vocabulary.png" title="Vocabulary" alt="Vocabulary"/>
                    </div>
                    <br/>
                </a>
            </li>
            <li class="col-md-6" id="gameTab">
                <a routerLink='/views/game' routerLinkActive='active'>
                    <div>
                        <img src="./../../../assets/images/game.png" title="Game" alt="Game"/>
                    </div>
                    <br/>
                </a>
            </li>
            <li class="col-md-6" id="tellTab">
                <a routerLink='/views/story' routerLinkActive='active'>
                    <div>
                        <img src="./../../../assets/images/fairytale.png" title="Short Story" alt="Short Story"/>
                    </div>
                    <br/>
                </a>
            </li>
            <li class="col-md-6" id="helpTab">
                <a routerLink='/views/help' routerLinkActive='active'>
                    <div>
                        <img src="./../../../assets/images/help.png" title="Help" alt="Help"/>
                    </div>
                    <br/>
                </a>
            </li>
        </ul>
      </div>
      <!-- --------- -->

      <!-- overview -->
      <div class="container col-md-3">
        <br/>
        <div id="overview"><h4>Overview</h4></div>
        <div id="content">
            <ul>
                <li><strong>Number of topics: </strong>9</li>
                <hr/>
                <li><strong>Number of vocabularies: </strong>90</li>
                <li><strong>Number of stories: </strong>2</li>
                <li><strong>Number of games: </strong>3</li>
            </ul>
        </div>
      </div>
      <!-- -------- -->
  </div>
</div>
<br/>