h2 {
    text-align: center;
    color: green;
}
p {
    color: green;
    padding-left: 3em;
    padding-right: 3em;
    text-align: justify;
}
div {
    border: 0.1em solid;
    border-color: greenyellow;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 20%;
}