<!-- selection -->
<br/>
<div align="center">
  <select>
    <option>Topic1</option>
    <option>Topic2</option>
  </select>
  <button>Choose</button>
</div>
<br/>
<!-- ------- -->

<!-- show game -->
<div class="playGame" align="center">

  <!-- replace image by game -->
  <img src="../../../assets/images/game.gif" alt="Story Image"/>

</div>
<!-- ------- -->

<!-- guide to play game -->
<br/>
<div class="guideGame">
  <h2>How to play game?</h2>
  <p>Guide is here</p>
</div>
<br/>
<!-- ------- -->