<!-- selection -->
<br/>
<div align="center">
    <!-- dung for de lay du lieu hien thi -->
    <button>Topic1</button>
    <!-- demo, khong can thiet -->
    <button>Topic2</button>
    <button>Topic3</button>
</div>
<hr/>
<h3>Selected Topic</h3>
<br/>
<!-- ------- -->

<!-- show game -->
<div class="playGame" align="center">

    <unity-app></unity-app>
</div>
<!-- ------- -->

<!-- guide to play game -->
<br/>
<div class="guideGame">
    <h2>How to play game?</h2>
    <p>Guide is here</p>
</div>
<br/>
<!-- ------- -->