button {
    margin-left: 1em;
}

.guideGame h2 {
    text-align: center;
}

.guideGame p {
    text-align: justify;
    padding-left: 2em;
    padding-right: 2em;
}

.guideGame {
    color: green;
    border: 0.02em solid;
    border-radius: 20%;
    margin-left: 2em;
    margin-right: 2em;
}