<!-- select topic -->
<!-- <div class="selectedTopic">
  <a href="#" id="btnVocabulary">Vocabulary &#9658;</a>
  <a href="#" id="btnTopic">Family</a>
</div> -->
<br/>
<div class="selectedTopic" align="center">
    <!-- dung for de lay du lieu hien thi -->
    <button>Topic1</button>
    <!-- demo, khong can thiet -->
    <button>Topic2</button>
    <button>Topic3</button>
    <button>Topic4</button>
    <button>Topic5</button>
    <button>Topic6</button>
    <button>Topic7</button>
    <button>Topic8</button>
    <button>Topic9</button>
</div>
<hr/>
<h3>Selected Topic</h3>
<!-- ------- -->

<!-- show vocabulary -->
<div class="container vocabulary">
    <div class="row">
        <div
            class="col-xs-6 col-sm-6 col-md-4 col-lg-3"
            *ngFor="let vocabulary of vocabularies">
            <figure>
                <img src="../../../assets/images/vocabulary.gif" alt="Apples"/>
                <figcaption>
                    <a href="#" onclick="textToSpeech('Apple')">hello</a>
                    <p class="word">{{vocabulary.word}}</p>
                    <p class="noted">(Nhấp vào để phát âm)</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
<!-- -------- -->